
*{
    margin: 0;
    padding: 0;
}
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Inicio da nav bar */
.topnav {
    overflow: hidden;
    background-color: #f80303;
  }
  
  .topnav a {

    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #5DBB63;
    color: black;
  }
  

  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/* Final da Nav bar */
body {
    line-height: 1;
    background-color: #5DBB63;
}

/* Por paginas */
/*###################*/
/* Inicio do css do Index */

#h1index {
    padding: 10px;
    text-align: center;
    color: #000000;
    font-size: 25px;
}

/* Inicio CSS Historia */
#h1historia {padding-top: 20px;
    color: #070707;
    font-size: 30px;
    text-align: center;
}

#textoHistoria {

    font-size: 20px;
    margin: 15px;
    align-items: center;
    color: #080808;
}


/* Final css Historia */
/*###################*/
/* Inicio css Galeria */
/* Inicio da Nav bar Galeria */


/* Final da Nav bar Galeria */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#borda{
    border-style: solid;
    border-color: #8ff0eb;
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #c4bcb4;
    
    

}

.container a {
    text-decoration: none;
    color: #000000;
    border-color: #000000;
}

.container a:hover {
    color: #5DBB63;
}

.container img {
    width: 50px;
    border-radius: 25%;
}

.container a img {
    width: 30px;
}
.trocafoto {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 404px;
    background-color: white;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: #c4bcb4;
}

.trocafoto img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* Final css Galeria*/
/*###################*/
/* Inicio css Comunidade */


/* Final css Comunidade*/
/*###################*/
/* Inicio css Sobre */



/* Final css Sobre*/
/*###################*/
/* Inicio Contato */

.sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}
.cont_rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 10%;
    
    align-items: center;

    justify-content: center;

    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #0f0f0f;
    margin-bottom: 10px;
}

.icones-sociais li {
    display: inline;
    align-items: center;
    flex-wrap: wrap;
    width: 20px;
    height: 10px;
    margin: 15px;
    color: #ffffff;
}
.count_rodape p a {
    text-decoration: none;
    color: #f1f1f1;
}
.icones-sociais li a img{
    height: 50px;
    border-radius: 45px;
}

/* Final css contato */
/*###################*/
/* Inicio css Login */



/* Final css login*/
/*###################*/
/* Inicio css Apresentação */
#bodyapresentação {
    color: #000000;
    background-color: #ffd00080;
}

#h1apresentação {
    color: #1a7204;
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

/*########################## Primeira imagem e texto ###################### */
#imgETexto {
    width: 100%;
    display: flex;
    color: #2aa00d;
}

#apresentacaoimg {
    height: 500px;
    width: 1800px;
    margin-bottom: 20px;
    background-image: url(../assets/ApresentacaoSite/celularArvore.jpg);
    background-size: cover;
    background-position: center;
}

#apresentacaoTexto {
    margin-left: 20px;
    margin-right: 400px;

    font-size: 20px;
    justify-content: center;
}

/*########################## Separação de divisão ######################*/
#separadorDeSection {
    color: white;
    background-color: #964b00;
    height: 25px;
    text-align: center;
    font-size: 25px;
    margin: 10 0 10 0;
}

/*########################## Separação de divisão ######################*/


/*########################## Segunda imagem e texto ######################*/
#imgETexto2 {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

#apresentapresentacaoTexto2 {
    height: 400px;
    width: 400px;
    font-size: 20px;
    justify-content: center;
    text-align: justify;
}

#apresentacaoimg2 {
    margin-left: 90px;
    height: 400px;
    width: 400px;
    background-image: url(../assets/ApresentacaoSite/frutrosColetados.jpg);
    background-size: cover;

}

/*########################## Terceira imagem e texto ######################*/

#imgETexto3 {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

#apresentapresentacaoTexto3 {
    height: 400px;
    width: 400px;
    font-size: 20px;
    justify-content: center;
    text-align: justify;
}

#apresentacaoimg3 {
    margin-left: 90px;
    height: 400px;
    width: 400px;
    background-image: url(../assets/ApresentacaoSite/fotoFrutos.jpg);
    background-size: cover;

}

/*########################## Quarta imagem e texto ######################*/
#imgETexto4 {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

#apresentapresentacaoTexto4 {
    height: 400px;
    width: 400px;
    font-size: 20px;
    justify-content: center;
    text-align: justify;
}

#apresentacaoimg4 {
    margin-left: 90px;
    height: 400px;
    width: 400px;
    background-image: url(../assets/ApresentacaoSite/felicidade.jpg);
    background-size: cover;

}
/*########################## Pdf ######################*/
#pdf{
    height: 900px;
    width: 80%;
    background-size: cover;
    justify-content: center;
    background-image: url(../assets/ApresentacaoSite/pdfFoi.png);
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d80f08;
    padding: 20px;

    height: 100px;
    position: relative;
    bottom: 0;
    left: 0;
}
.contato_ref{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.contato_ref a{
    text-decoration: none;
    color: #000000;
    margin-left: auto;
    margin-right: auto
    
}
.contato_ref a:hover{
    color: #060ae2;
}
.contato_ref p {
    text-decoration: none;
    color: #000000;
    margin-left: auto;
    margin-right: auto
}

/* Whatsapp button */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}